<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food service</title>
</head>
<body>
    <nav class="flex">
        <ul class="flex">
            <li>Food service</li>
        </ul>
        <ul class="flex">
            <li>Account</li>
            <li>Exit</li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>