body {
    background: linear-gradient(#779ac9, #c986cf) fixed;
}

#like_button_container {
    color: red;
    margin-left: auto;
    margin-right: auto;
}
.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 50%;
    width: 20em;
    font-size: 1.5em;
    display: block;
    
}


.likebutton {
    background: linear-gradient(#3888f0, #155230) fixed;
    border: 1px solid #020731;
    border-radius: 18px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: auto;
    margin-top: auto;
    padding: 0;
    text-align: center;
    width: 100px;
  }